@use '../../styles/variables.scss' as *;

.Contact {
  margin: 3.5rem 0;
  &__content {
    &__title {
      font-size: 3rem;
      font-weight: 600;
      font-family: 'Signika', sans-serif;
      margin-bottom: 1.5rem;
      text-align: center;

      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6 rem;
        height: 0.2rem;
        background-color: $primary;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      margin: 0 auto;

      &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1.5rem;

        label {
          font-size: 1.5rem;
          font-weight: 600;
          font-family: 'Signika', sans-serif;
          margin-bottom: 0.5rem;
          color: $text2;
        }

        input {
          width: 100%;
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: 600;
          font-family: 'Signika', sans-serif;
          border: 0.1rem solid $primary;
          border-radius: 0.5rem;
          outline: none;
          transition: all 0.3s ease-in-out;
          &:focus {
            border: 0.1rem solid $secondary;
          }
        }

        textarea {
          width: 100%;
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: 600;
          font-family: 'Signika', sans-serif;
          border: 0.1rem solid $primary;
          border-radius: 0.5rem;
          outline: none;
          resize: none;
          transition: all 0.3s ease-in-out;
          &:focus {
            border: 0.1rem solid $secondary;
          }
        }
      }
      button {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Signika', sans-serif;
        border: 0.1rem solid $primary;
        border-radius: 0.5rem;
        outline: none;
        background-color: $primary;
        color: $text;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }

  @media screen and (max-width: 1279px) {
    &__content {
      &__form {
        width: 60%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__content {
      &__form {
        width: 100%;
      }
    }
  }
}
