@use '../../styles/variables.scss' as *;

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1000;
  transition: all 0.5s ease-in-out;

  &__logo {
    a {
      text-decoration: none;
      color: $text;
      font-size: 1.6rem;
      font-weight: 600;

      &:hover {
        color: $quaternary;
      }
    }
  }

  &__items {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    align-items: center;

    li {
      button {
        background-color: transparent;
        border: none;
        color: $text;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: $quaternary;
        }
      }
    }
  }

  &__menu {
    display: none;
  }
  &__mobile__items {
    display: none;
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    padding: 1rem 2rem;
    &__items {
      display: none;
    }

    .invisible_div {
      display: none;
    }

    &__menu {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      color: $text;
      z-index: 1000;

      &__icon {
        animation: flip 0.5s;

        @keyframes flip {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    .hidden {
      position: absolute;
      top: -2000%;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem 0;
      align-items: center;
      justify-content: center;
      list-style: none;
      background-color: $primary-shade;
      transition: all 0.5s ease-in-out;

      li {
        button {
          background-color: transparent;
          color: $text;
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
          border: none;

          &:hover {
            color: $quaternary;
          }
        }
      }
    }

    &__mobile__items {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $primary-shade;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem 0;
      align-items: center;
      justify-content: center;
      list-style: none;
      z-index: 1;
      transition: all 0.5s ease-in-out;

      li {
        button {
          background-color: transparent;
          color: $text;
          font-size: 1.6rem;
          font-weight: 600;
          cursor: pointer;
          border: none;

          &:hover {
            color: $quaternary;
          }
        }
      }
    }
  }
}
