@use '../../styles/variables.scss' as *;

.Features {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;

  &__title {
    text-align: center;
    h1 {
      margin-top: 3rem;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      font-family: 'Signika', sans-serif;

      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 0.2rem;
        background-color: $primary;
      }
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 4rem;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 21.1rem;
      height: 20rem;
      border-radius: 1rem;
      background-color: $quinternary;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
      text-align: center;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
      }

      &__icon {
        font-size: 3.5rem;
        color: $primary;
      }

      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 0 1rem;
        font-family: 'Signika', sans-serif;

        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 8rem;
          height: 0.2rem;
          background-color: $primary;
        }
      }

      &__content {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        padding: 0 1rem;
      }
    }
  }
}
