@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $primary;
  color: $text;
  font-family: 'Raleway', sans-serif;
}