$primary: #442d7c;
$primary-shade: #25144b;
$primary-light: #4e3a8f;

$secondary: #6341b4;
$secondary-shade: #5a3aa3;
$secondary-light: #6e4ec7;

$tertiary: #f85aca;
$tertiary-shade: #e85ab9;
$tertiary-light: #f85aca;

$quaternary: #dafa8b;
$quaternary-shade: #c9e97a;
$quaternary-light: #e9ffb9;

$quinternary: #f3f3f3;
$quinternary-shade: #e3e3e3;
$quinternary-light: #ffffff;

$text: #f3f3f3;
$text2: #0f0f0f;
